<div class="col-md-12 addClientContainer">
  <!-- <div class="row"> -->
  <mat-stepper
    class="example-stepper"
    [orientation]="(stepperOrientation | async)!"
  >
    <mat-step [stepControl]="firstFormGroup" label="Company Details">
      <div class="row">
        <div class="col-md-6">
          <mat-card class="matCard">
            <mat-card-header class="matCardHeader"> </mat-card-header>
            <mat-card-content class="matCardClass">
              <form [formGroup]="firstFormGroup">
                <div class="container row" id="container">
                  <mat-form-field class="inputFieldsWidth">
                    <mat-label>Company</mat-label>
                    <input
                      type="text"
                      matInput
                      formControlName="companyFormControl"
                    />
                  </mat-form-field>

                  <mat-form-field class="inputFieldsWidth">
                    <mat-label>Street</mat-label>
                    <input
                      type="text"
                      matInput
                      formControlName="streetFormControl"
                    />
                  </mat-form-field>

                  <mat-form-field class="inputFieldsWidth">
                    <mat-label>Country</mat-label>
                    <input
                      type="text"
                      placeholder="Select a country"
                      aria-label="Country"
                      matInput
                      formControlName="countryFormControl"
                      [matAutocomplete]="countrySelection"
                    />
                    <mat-autocomplete #countrySelection="matAutocomplete">
                      <mat-option
                        *ngFor="let country of filteredCountryList | async"
                        [value]="country"
                      >
                        {{ country }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>

                  <mat-form-field class="inputFieldsWidth">
                    <mat-label>State</mat-label>
                    <input
                      type="text"
                      placeholder="Select a state"
                      aria-label="State"
                      matInput
                      formControlName="stateFormControl"
                      [matAutocomplete]="stateSelection"
                    />
                    <mat-autocomplete #stateSelection="matAutocomplete">
                      <mat-option
                        *ngFor="let state of filteredStateList | async"
                        [value]="state"
                      >
                        {{ state }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>

                  <mat-form-field class="inputFieldsWidth">
                    <mat-label>City</mat-label>
                    <input
                      type="text"
                      placeholder="Select a city"
                      aria-label="City"
                      matInput
                      formControlName="cityFormControl"
                      [matAutocomplete]="citySelection"
                    />
                    <mat-autocomplete #citySelection="matAutocomplete">
                      <mat-option
                        *ngFor="let city of filteredCityList | async"
                        [value]="city"
                      >
                        {{ city }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>

                  <mat-form-field class="inputFieldsWidth">
                    <mat-label>Zip Code</mat-label>
                    <input
                      type="text"
                      matInput
                      formControlName="zipCodeFormControl"
                    />
                    <mat-error
                      *ngIf="
                        firstFormGroup.controls.zipCodeFormControl.hasError(
                          'required'
                        )
                      "
                      >Zip Code is <strong>required</strong></mat-error
                    >
                  </mat-form-field>
                </div>
              </form>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-6 stepperButtons">
          <div>
            <button mat-button matStepperNext class="stepperNextButton">
              Next
            </button>
          </div>
        </div>
      </div>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Company Details">
      <div class="row">
        <div class="col-md-6">
          <mat-card class="matCard">
            <mat-card-header class="matCardHeader"> </mat-card-header>
            <mat-card-content class="matCardClass">
              <form [formGroup]="secondFormGroup">
                <div class="container row" id="container">
                  <mat-form-field class="inputFieldsWidth">
                    <mat-label>First Name</mat-label>
                    <input
                      type="text"
                      matInput
                      formControlName="FirstNameFormControl"
                    />
                    <mat-error
                      *ngIf="
                        secondFormGroup.controls.FirstNameFormControl.hasError(
                          'required'
                        )
                      "
                      >First Name is <strong>required</strong></mat-error
                    >
                  </mat-form-field>

                  <mat-form-field class="inputFieldsWidth">
                    <mat-label>Last Name</mat-label>
                    <input
                      type="text"
                      matInput
                      formControlName="LastNameFormControl"
                    />
                  </mat-form-field>

                  <mat-form-field class="inputFieldsWidth">
                    <mat-label>Email</mat-label>
                    <input
                      type="email"
                      matInput
                      formControlName="emailFormControl"
                      [errorStateMatcher]="matcher"
                      placeholder="Ex. pat@example.com"
                    />
                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                    <mat-error
                      *ngIf="
                        secondFormGroup.controls.emailFormControl.hasError(
                          'email'
                        ) &&
                        !secondFormGroup.controls.emailFormControl.hasError(
                          'required'
                        )
                      "
                      >Please enter a valid email address
                    </mat-error>

                    <mat-error
                      *ngIf="
                        secondFormGroup.controls.emailFormControl.hasError(
                          'required'
                        )
                      "
                      >Email is <strong>required</strong></mat-error
                    >
                  </mat-form-field>
                  <mat-form-field class="inputFieldsWidth">
                    <mat-label>Phone</mat-label>
                    <input
                      type="number"
                      matInput
                      formControlName="phoneFormControl"
                    />
                  </mat-form-field>

                  <mat-form-field class="inputFieldsWidth">
                    <mat-label>Contact Fax</mat-label>
                    <input
                      type="text"
                      matInput
                      formControlName="contactFaxFormControl"
                    />
                  </mat-form-field>
                </div>
              </form>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-6 stepperButtons">
          <div>
            <button mat-button matStepperPrevious class="stepperBackButton">
              Back
            </button>
            <button mat-button matStepperNext class="stepperNextButton">
              Next
            </button>
          </div>
        </div>
      </div>
    </mat-step>
    <!-- </div> -->
    <!-- <br /> -->

    <!-- <div class="row"> -->
    <mat-step [stepControl]="thirdFormGroup" label="Others">
      <div class="row">
        <div class="col-md-6">
          <mat-card class="matCard">
            <mat-card-header class="matCardHeader"> </mat-card-header>
            <mat-card-content class="matCardClass">
              <form [formGroup]="thirdFormGroup">
                <div class="container row" id="container">
                  <mat-form-field class="inputFieldsWidth">
                    <mat-label>Invoice Terms</mat-label>
                    <input
                      type="text"
                      placeholder="Select an Invoice term"
                      aria-label="Invoice Term"
                      matInput
                      formControlName="invoiceTermFormControl"
                      [matAutocomplete]="invoiceTermSelection"
                    />
                    <mat-autocomplete #invoiceTermSelection="matAutocomplete">
                      <mat-option
                        *ngFor="
                          let invoiceTerm of filteredInvoiceTermList | async
                        "
                        [value]="invoiceTerm"
                      >
                        {{ invoiceTerm }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>

                  <mat-form-field class="inputFieldsWidth">
                    <mat-label>Payment Terms</mat-label>
                    <input
                      type="textArea"
                      matInput
                      formControlName="paymentTermFormControl"
                    />
                  </mat-form-field>

                  <mat-form-field class="inputFieldsWidth">
                    <mat-label>Charge Rate</mat-label>
                    <input
                      type="text"
                      matInput
                      formControlName="chargeRateFormControl"
                    />
                  </mat-form-field>

                  <mat-form-field class="inputFieldsWidth">
                    <mat-label>VAT Registration Number</mat-label>
                    <input
                      type="text"
                      matInput
                      formControlName="vatRegistrationNumberFormControl"
                    />
                  </mat-form-field>
                </div>
              </form>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-6 stepperButtons">
          <div>
            <button mat-button matStepperPrevious class="stepperBackButton">
              Back
            </button>
            <button
              mat-button
              type="submit"
              (click)="onSubmit()"
              class="submitButton"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
    </mat-step>
    <!-- </div> -->
  </mat-stepper>
</div>
