<div class="col-md-12" style="margin: 5% 0 0 0">
  <div class="row">
    <div class="col-md-3">
      <a href="" class="anchorTag">
        <div class="col-12 col-md-12 col-sm-12 col-lg-12 mbot15">
          <div
            class="top_stats_wrapper col-12 col-md-12 col-sm-12 col-lg-12"
            style="
              background: #800a57;
              color: #fff;
              padding: 0px 0px 0px 0px;
              display: flex;
            "
          >
            <div
              class="col-3 col-md-3 col-sm-3 col-lg-3"
              style="
                margin-left: 0px;
                margin-right: 0px;
                background: #600641;
                padding-left: 0px;
                padding-right: 0px;
                text-align: center;
              "
            >
              <i class="fa fa-users" style="font-size: 45px; margin: 14px"></i>
            </div>
            <div class="col-8 col-md-8 col-sm-8 col-lg-8" style="padding: 3px">
              <span style="font-size: 29px">&nbsp;0</span>
              <br />
              <span style="font-size: 16px"
                >&nbsp;&nbsp;&nbsp;ACTIVE CLIENTS</span
              >
            </div>
            <div class="clearfix col-1 col-md-1 col-sm-1 col-lg-1"></div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="" class="anchorTag">
        <div class="col-12 col-md-12 col-sm-12 col-lg-12 mbot15">
          <div
            class="top_stats_wrapper"
            style="
              background: #2383ff;
              color: #fff;
              padding: 0px 0px 0px 0px;
              display: flex;
            "
          >
            <div
              class="col-3"
              style="
                margin-left: 0px;
                margin-right: 0px;
                background: #006fff;
                padding-left: 0px;
                padding-right: 0px;
                text-align: center;
              "
            >
              <i
                class="fa fa-database"
                style="font-size: 45px; margin: 14px"
              ></i>
            </div>
            <div class="col-8" style="padding: 3px">
              <span style="font-size: 29px">&nbsp;0</span>
              <br />
              <span style="font-size: 16px"
                >&nbsp;&nbsp;&nbsp;ACTIVE STAFF</span
              >
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      <a href="" class="anchorTag">
        <div class="col-12 col-md-12 col-sm-12 col-lg-12 mbot15">
          <div
            class="top_stats_wrapper"
            style="
              background: #1a9f00;
              color: #fff;
              padding: 0px 0px 0px 0px;
              display: flex;
            "
          >
            <div
              class="col-3"
              style="
                margin-left: 0px;
                margin-right: 0px;
                background: #178402;
                padding-left: 0px;
                padding-right: 0px;
                text-align: center;
              "
            >
              <i
                class="fa fa-calendar"
                style="font-size: 45px; margin: 14px"
              ></i>
            </div>
            <div class="col-8" style="padding: 3px">
              <span style="font-size: 29px">&nbsp;0</span>
              <br />
              <span style="font-size: 16px"
                >&nbsp;&nbsp;&nbsp;ACTIVE SITES</span
              >
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      <a href="" class="anchorTag">
        <div class="col-12 col-md-12 col-sm-12 col-lg-12 mbot15">
          <div
            class="top_stats_wrapper"
            style="
              background: #ff6f00;
              color: #fff;
              padding: 0px 0px 0px 0px;
              display: flex;
            "
          >
            <div
              class="col-3"
              style="
                margin-left: 0px;
                margin-right: 0px;
                background: #d26008;
                padding-left: 0px;
                padding-right: 0px;
                text-align: center;
              "
            >
              <i class="fa fa-phone" style="font-size: 45px; margin: 14px"></i>
            </div>
            <div class="col-8" style="padding: 3px">
              <span style="font-size: 29px">&nbsp;0</span>
              <br />
              <span style="font-size: 16px">&nbsp;&nbsp;&nbsp;Calls</span>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </a>
    </div>

    <!--     <a href="https://srltdws.megworld.in/admin/estimates/list_estimates">
<div class="col-xs-12 col-md-6 col-sm-6 col-lg-3 mbot15" >
<div class="top_stats_wrapper" style="background: #8169fb;color:#fff;padding: 0px 0px 0px 0px;">
<div class="col-xs-3" style="margin-left: 0px;margin-right: 0px;background: #7058ec;padding-left: 0px;padding-right: 0px; text-align: center; " >
<i class="fa fa fa-gavel" style="font-size: 45px;margin: 14px;" ></i>
</div>
<div class="col-xs-8" style="padding: 3px;" >
<span style="font-size: 29px;">&nbsp;0</span>
<br>
<span style="font-size:16px;">&nbsp;&nbsp;&nbsp;Order</span>
</div>
<div class="clearfix"></div>
</div>
</div>
</a> -->

    <!--        <a href="https://srltdws.megworld.in/admin/invoices/list_invoices">
<div class="col-xs-12 col-md-6 col-sm-6 col-lg-3 mbot15" >
<div class="top_stats_wrapper" style="background: #b17103;color:#fff;padding: 0px 0px 0px 0px;">
<div class="col-xs-3" style="margin-left: 0px;margin-right: 0px;background: #925e05;padding-left: 0px;padding-right: 0px; text-align: center; " >
<i class="fa fa-file-pdf-o" style="font-size: 45px;margin: 14px;" ></i>
</div>
<div class="col-xs-8" style="padding: 3px;" >
<span style="font-size: 29px;">&nbsp;0</span>
<br>
<span style="font-size:16px;">&nbsp;&nbsp;&nbsp;Invoices</span>
</div>
<div class="clearfix"></div>
</div>
</div>
</a> -->

    <!--          <a href="https://srltdws.megworld.in/admin/invoices/list_invoices">
<div class="col-xs-12 col-md-6 col-sm-6 col-lg-3 mbot15" >
<div class="top_stats_wrapper" style="background: #00829e;color:#fff;padding: 0px 0px 0px 0px;">
<div class="col-xs-3" style="margin-left: 0px;margin-right: 0px;background: #066980;padding-left: 0px;padding-right: 0px;text-align: center; " >
<i class="fa fa-rupee" style="font-size: 45px;margin: 14px;" ></i>
</div>
<div class="col-xs-8" style="padding: 3px;" >
<span style="font-size: 29px;">&nbsp;</span>
<br>
<span style="font-size:16px;">&nbsp;&nbsp;&nbsp;Billing</span>
</div>
<div class="clearfix"></div>
</div>
</div>
</a> -->

    <!--   <a href="https://srltdws.megworld.in/admin/payments">
<div class="col-xs-12 col-md-6 col-sm-6 col-lg-3 mbot15" >
<div class="top_stats_wrapper" style="background: #129b44;color:#fff;padding: 0px 0px 0px 0px;">
<div class="col-xs-3" style="margin-left: 0px;margin-right: 0px;background: #197e3e;padding-left: 0px;padding-right: 0px; text-align: center;" >
<i class="fa fa-rupee" style="font-size: 45px;margin: 14px;" ></i>
</div>
<div class="col-xs-9" style="padding: 3px;" >
<span style="font-size: 29px;">&nbsp;</span>
<br>
<span style="font-size:16px;">&nbsp;&nbsp;&nbsp;Collection</span>
</div>
<div class="clearfix"></div>
</div>
</div>
</a> -->
  </div>
</div>
