@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");
@import "@angular/material/prebuilt-themes/indigo-pink.css";
/* @import url('../node_modules/simple-keyboard/build/css/index.css'); */
body {
}
.auth-card {
  background: linear-gradient(
    90deg,
    rgba(212, 86, 99, 1) 0%,
    rgba(247, 228, 243, 1) 100%
  );
  border-radius: 5px;
  box-shadow: 0px 0px 17px steelblue;
}
label {
  color: #fff;
  font-weight: 700;
}
.user-image {
  height: 70px;
}
.auth-avatar {
  text-align: center;
  margin-top: -50px;
}
.auth {
  /* margin-top: 35px; */
  border: none;
  border-radius: 6px;
}
.btn-my {
  background-color: #d39e00;
  border-color: #d39e00;
  color: #fff;
}
.simple-keyboard {
  max-width: 850px;
}
/* :host {
  ::ng-deep {
    .mat-drawer-container {
      position: relative;
      z-index: 1;
      box-sizing: border-box;
      -webkit-overflow-scrolling: touch;
      overflow: hidden;
    }
  }
} */

button:focus {
  outline: 0 !important;
  border: 0 !important;
  box-shadow: none !important;
}

#div {
  display: block !important;
}

.padd0 {
  padding: 0px !important;
}

.margin0 {
  margin: 0px !important;
}

.text-responsive {
  font-size: x-large;
  font-weight: normal;
}

.primary-text-color {
  color: var(--background-primary-color) !important;
}

.small-primary-button {
  background-color: var(--background-primary-color);
  color: var(--highlighted-font-color);
  border: none;
  padding: 15px;
  text-transform: uppercase;
}

.small-primary-button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (min-width: 144px) {
  .text-responsive {
    font-size: smaller;
  }

  /*1rem = 16px*/
}

@media only screen and (min-width: 544px) {
  .text-responsive {
    font-size: small;
  }

  /*1rem = 16px*/
}

@media only screen and (min-width: 644px) {
  .text-responsive {
    font-size: medium;
  }

  /*1rem = 16px*/
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media only screen and (min-width: 768px) {
  .text-responsive {
    font-size: medium;
  }

  /*1rem = 16px*/
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .text-responsive {
    font-size: large;
  }

  /*1rem = 16px*/
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .text-responsive {
    font-size: large;
  }

  /*1rem = 16px*/
}

@media only screen and (min-width: 1400px) {
  .text-responsive {
    font-size: larger;
  }

  /*1rem = 16px*/
}

@media only screen and (min-width: 1800px) {
  .text-responsive {
    font-size: x-large;
  }

  /*1rem = 16px*/
}

@media only screen and (min-width: 2000px) {
  .text-responsive {
    font-size: xx-large;
  }

  /*1rem = 16px*/
}
.positionCenter {
  display: flex;
  align-items: center;
  height: 100vh;
}
/* .loginBackground {
  height: 100vh;
  width: 100%;
  background: url("/assets/images/Login_Background.jpg") no-repeat;
  background-size: cover;
  color: white;
} */
.loginBackground {
  background: lavenderblush;
}
.matCardClass {
  height: calc(100vh - 165px);
  overflow: auto;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    90deg,
    rgb(212, 86, 99) 0%,
    rgba(218, 226, 16, 0) 100%
  );
  border-radius: 10px;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #b30000;
} */

/* #**************************# */
/* HEADER COMPONENT STYLES */
/* #**************************# */

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

body {
  font-family: "Times New Roman", Times, serif !important;
}

.mat-toolbar.mat-primary {
  background: var(--background-primary-color);
  color: var(--highlighted-font-color);
  font-family: "Times New Roman", Times, serif !important;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.mat-sidenav {
  width: 220px;
  display: flex;
}

button.menu-button {
  color: inherit;
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 230px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 9999;
}

.head-menu {
  flex: 1 1 auto;
}

.hidden {
  display: none;
}

.menu-icon {
  padding-right: 10px;
}

::ng-deep button.mat-menu-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  /** set line height to desired height */
  line-height: 18px;
  /** set height to auto */
  height: auto;
  padding: 0 16px;
  text-align: left;
  text-decoration: none;
  max-width: 100%;
  position: relative;
}

::ng-deep div.mat-menu-panel {
  min-width: 112px;
  /** set width to 500px */
  max-width: 500px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-height: calc(100vh - 48px);
  border-radius: 4px;
  outline: 0;
}

:host ::ng-deep .mat-drawer-content {
  overflow: visible;
}

.user-name {
  padding-top: 10px;
  padding-left: 10px;
}

hr {
  color: black;
  margin-top: 0px;
}

.white-space-normal {
  white-space: normal;
}

.padding-bottom-10 {
  padding-bottom: 10px !important;
}

.profile-block-container {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.padding-top-10 {
  padding-top: 10px;
}

.profile-block {
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-top: 25px;
}

.logout-button {
  padding: 15px;
  font-size: 20px;
}

.padding-left-10 {
  padding-left: 10px;
}

.notification-icon {
  font-size: 20px;
}

.notification-header {
  white-space: normal;
  padding: 15px;
  font-size: 20px;
}

.notification-item-container {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.notification-content {
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.action-button {
  padding: 10px;
  margin-right: 15px;
}

.title-center {
  flex: 1 1 auto;
  text-align: center;
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .mat-sidenav {
    width: 250px;
  }

  /*1rem = 16px*/
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .mat-sidenav {
    width: 300px;
  }

  /*1rem = 16px*/
}

@media only screen and (min-width: 1400px) {
  .mat-sidenav {
    width: 250px;
  }

  /*1rem = 16px*/
}

@media only screen and (min-width: 1600px) {
  .mat-sidenav {
    width: 300px;
  }

  /*1rem = 16px*/
}
/* .menuDropdown {
  text-align: center;
  background: skyblue;
  border-radius: 5px;
} */
.mat-sidenav {
  top: 55px !important;
}

.mat-sidenav-container {
  height: calc(100vh - 65px);
  overflow: hidden;
}

.mat-sidenav-content {
  overflow: auto;
}

.menuDropdown {
  float: left;
  overflow: hidden;
}

.menuDropdown .menudropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.menuDropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 5;

  margin: -10px 0 0 0;
  border-radius: 20px;
  background: linear-gradient(
    90deg,
    rgba(212, 86, 99, 1) 0%,
    rgba(247, 228, 243, 1) 100%
  );
}

.menuDropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.menuDropdown-content a:hover {
  background-color: lightcoral;
}

.menuDropdown:hover .menuDropdown-content {
  display: block;
}

/* #**************************# */
/* SIDE NAVIGATION COMPONENT STYLES */
/* #**************************# */

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

body {
  font-family: "Times New Roman", Times, serif !important;
}

.mat-toolbar.mat-primary {
  background: var(--background-primary-color);
  color: var(--highlighted-font-color);
  font-family: "Times New Roman", Times, serif !important;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.head-menu {
  flex: 1 1 auto;
}

.hidden {
  display: none;
}

.menu-icon {
  padding-right: 10px;
}

.user-name {
  padding-top: 10px;
  padding-left: 10px;
}

hr {
  color: black;
  margin-top: 0px;
}

.white-space-normal {
  white-space: normal;
}

.padding-bottom-10 {
  padding-bottom: 10px !important;
}

.profile-block-container {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.padding-top-10 {
  padding-top: 10px;
}

.profile-block {
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-top: 25px;
}

.logout-button {
  padding: 15px;
  font-size: 20px;
}

.padding-left-10 {
  padding-left: 10px;
}

.notification-icon {
  font-size: 20px;
}

.notification-header {
  white-space: normal;
  padding: 15px;
  font-size: 20px;
}

.notification-item-container {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.notification-content {
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.action-button {
  padding: 10px;
  margin-right: 15px;
}

.title-center {
  flex: 1 1 auto;
  text-align: center;
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .mat-sidenav {
    width: 250px;
  }

  /*1rem = 16px*/
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .mat-sidenav {
    width: 300px;
  }

  /*1rem = 16px*/
}

@media only screen and (min-width: 1400px) {
  .mat-sidenav {
    width: 400px;
  }

  /*1rem = 16px*/
}

@media only screen and (min-width: 1600px) {
  .mat-sidenav {
    width: 500px;
  }

  /*1rem = 16px*/
}

/* #**************************# */
/* LOGIN COMPONENT STYLES */
/* #**************************# */

.loginSection {
  background: #f3e0e2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

.loginSection1 {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: "Jost", sans-serif;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

.login label {
  color: #573b8a;
  transform: scale(0.6);
}
.imageTransition {
  width: 50%;
  height: 90%;
  display: flex;
  gap: 5px;
  justify-content: center;
}

.imageTransition img {
  filter: saturate(0%);
  width: 10%;
  border: 2px solid whitesmoke;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  transition: all ease 0.4s;
  cursor: pointer;
}
.imageTransition img:hover {
  filter: saturate(100%);
  width: 100%;
}
.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
}

.overlay {
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* padding: 0 40px; */
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
}

.overlay-right {
  right: 0;
}
